<!DOCTYPE html>
<html>
    <head>
            <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
           
    </head>
    <body style = "background-color:rgb(4, 243, 124)">
                        
        <div>
                <header class="text-gray-700 body-font" style = "background-color:cyan;color: black;">
                        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
                                <img height = 60 width = 60 src = "C:\Users\tghode\Desktop\ECT_HACKATHON\Hackathon_POC\templates\logo.JPG">
                                
                                  <span class="ml-3 text-xl" style="font-style: oblique;font-size:x-large;">COVID GIZMOGRAPH</span>
                          <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
                            <a class="mr-5 hover:text-gray-900" href = "section.html">HOME</a>
                            <a class="mr-5 hover:text-gray-900" href = "CovidInfo.html"> COVID-STATS</a>
                            <a class="mr-5 hover:text-gray-900" href = "tishant.html">ORGS-MAP</a>
                            <a class="mr-5 hover:text-gray-900" href = "Covid-19-stats.html">COVID-JYOTISH</a>
                            <a class="mr-5 hover:text-gray-900" href = "pandemic.html">PANDEMIC-JYOTISH</a>
                            <a class="mr-5 hover:text-gray-900" href = "vaccination.html">CLINICAL TRIALS</a>
                        </nav>
                         
                        </div>
                      </header>
        </div>
        <script>
                window.watsonAssistantChatOptions = {
                    integrationID: "b86337ed-1c2b-4f9d-b42c-70c9f92ec19d", // The ID of this integration.
                    region: "eu-gb", // The region your integration is hosted in.
                    serviceInstanceID: "fed9ce16-66cb-4f94-9c27-84ca8ebb2465", // The ID of your service instance.
                    onLoad: function(instance) { instance.render(); }
                  };
                setTimeout(function(){
                  const t=document.createElement('script');
                  t.src="https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
                  document.head.appendChild(t);
                });
              </script>
            
        {% block content %} {% endblock %}
        

        
    </body>
</html>