<!DOCTYPE html>
<html>
    <head>
            <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
           
    </head>
    <body>
                        
        <div>
                <header class="text-gray-700 body-font">
                        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
                                <img height = 60 width = 60 src = "https://images.unsplash.com/photo-1584118624012-df056829fbd0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60">
                                
                                  <span class="ml-3 text-xl">COVID GURU</span>
                          <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
                            <a class="mr-5 hover:text-gray-900" href = "section.html">HOME</a>
                            <a class="mr-5 hover:text-gray-900" href = "Nimish.html"> COVID-STATS</a>
                            <a class="mr-5 hover:text-gray-900" href = "tishant.html">ORGS-MAP</a>
                            <a class="mr-5 hover:text-gray-900" href = "tishant.html">COVID-JYOTISH</a>
                            <a class="mr-5 hover:text-gray-900" href = "tishant.html">PANDEMIC-JYOTISH</a>
                            <a class="mr-5 hover:text-gray-900" href = "tishant.html">CLINICAL TRIALS</a>
                        </nav>
                         
                        </div>
                      </header>
        </div>
        {% block content %} {% endblock %}
        

        
    </body>
</html>